.section-faq {
  .breadcrumb {
    background: none;
    padding: 20px 0px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    margin-top: 0;
    li {
      text-align: left;
      display: inline-block;
      &:last-child::before {
        content: '>';
        padding: 0 5px;
        color: #ccc;
      }
      a {
        text-align: left;
        font-size: 16px;
        text-decoration: none;
        color: inherit;
        background-color: transparent;
      }
      &:hover a {
        color: #ce7a58;
      }
    }
  }
  .main-title {
    padding-left: 0px;
    height: auto;
    text-align: center !important;
    margin: 0px;
    font-size: 28px;
    display: block;
    margin-bottom: 20px;
    color: #333333;
    font-weight: 500;
    line-height: 36px;
    position: relative;
  }
  .article {
    line-height: 24px;
    text-align: justify;
    p {
      font-size: 16px;
    }
    p,
    div,
    li {
      margin-bottom: 20px;
    }
    margin: 0 0 10px;
    .divider-gray {
      margin: 20px 0px;
      height: 1px;
      background: #e9f0f8;
    }
    .main-title-sub {
      font-size: 23px;
      line-height: 30px;
      font-weight: 500;
      text-align: justify;
    }
    .list-dot {
      list-style: none;
      padding: 0px;
      margin: 0px;
      counter-reset: li;
      font-size: 15px;
      li {
        position: relative;
        padding-left: 30px;
        counter-increment: li;
        &::before {
          width: 6px;
          content: '';
          height: 6px;
          position: absolute;
          top: 10px;
          left: 0px;
          text-align: center;
          border-radius: 2px;
          line-height: 24px;
          background: #ce7a58;
          color: #ce7a58;
        }
      }
    }
  }
}
