.search-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.391), rgba(0, 0, 0, 0.391)),
    url(https://dichvucong.gov.vn/p/home/theme/img/home/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 0px;
  position: relative;
  .title {
    font-size: 26px;
    color: white;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
  }
  .row-search {
    .col-xs-10 {
      .input-search {
        border-radius: 15px 0px 0px 15px;
      }
    }
    .col-xs-2 {
      .btn-search {
      }
    }
  }
}
